body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
}

header img {
    width: 100px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

main {
    padding: 2rem;
}



footer {
    color: white;
    padding: 1rem;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


li a:hover {
    background-color: #f0f0f0;
}

a{
    color: white;
}